---
- name: Configure compute node(s)
  hosts: compute
  gather_facts: true
  become: true

  vars:
    # Debian/Ubuntu => nfs-common ; RHEL/Amazon => nfs-utils
    nfs_client_pkg: "{{ 'nfs-common' if ansible_os_family == 'Debian' else 'nfs-utils' }}"

  tasks:
    - name: Ensure base packages
      package:
        name:
          - curl
          - git
          - htop
        state: present

    - name: Show effective headnode_ip (if any)
      debug:
        msg: "Using headnode_ip = {{ headnode_ip | default('') }}"

    - name: Create mount point for NFS (/home)
      file:
        path: /home
        state: directory

    - name: Install NFS client
      package:
        name: "{{ nfs_client_pkg }}"
        state: present
      when:
        - headnode_ip is defined
        - headnode_ip | length > 0

    - name: Mount headnode:/home on /home (NFSv4)
      ansible.posix.mount:
        path: /home
        src: "{{ headnode_ip }}:/home"
        fstype: nfs
        opts: vers=4,_netdev
        state: mounted
      when:
        - headnode_ip is defined
        - headnode_ip | length > 0

    - name: Skip note when headnode_ip not provided
      debug:
        msg: "No headnode_ip passed; NFS mount step skipped."
      when: headnode_ip is not defined or headnode_ip | length == 0
